streamvault-backend/firebase/firebase-credentials.json
streamvault-backend/.env
streamvault-backend/db.sqlite3
streamvault-backend/venv/
node_modules/
.env
dist/
firebase-debug.log
# Ignore Firebase config
streamvault-frontend/src/firebase.js
# Ignore Firebase config

.env
